<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEV profile -->
    <springProfile name="dev">
        <logger name="com.abhishekojha.kurakanimonolith" level="DEBUG" />
        <logger name="org.springframework.security" level="DEBUG" />
        <logger name="org.springframework.web.socket" level="DEBUG" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" />

        <root level="WARN">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- PROD profile -->
    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/kurakaani.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/kurakaani.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.abhishekojha.kurakanimonolith" level="INFO" />
        <logger name="org.springframework.web.socket" level="WARN" />
        <logger name="org.springframework.messaging" level="WARN" />

        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>
